<!DOCTYPE html>
<html lang="ja">
<% let title = jsonData.pages[path].title %>
<% let description = jsonData.pages[path].description %>
<% let keywords = jsonData.pages[path].keywords %>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title><%= title %>｜<%= jsonData.siteInfo.baseTitle %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <link rel="stylesheet" href="css/base.min.css">
  <% if( path === 'component' || path === 'component3'| path === 'component4' ){ %>
  <link rel="stylesheet" href="css/components.css">
  <% } %>
  <% if( path === 'form' ){ %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
  <% } %>
  <% if(path === 'price'){ %>
  <link rel="stylesheet" href="https://unpkg.com/scroll-hint@1.1.10/css/scroll-hint.css">
  <% } %>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="js/slick_option.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <% if( path === 'form' ){ %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
  <script src="js/datepick_option.js"></script>
  <script type="text/javascript" src="https://cdn.insightnet.co.jp/js/zip2addr/jquery.zip2addr.min.js"></script>
  <% } %>
  <% if(path === 'component' || path === 'component3'| path === 'component4'){ %>
  <script src="js/components.js"></script>
  <% } %>
  <% if(path === 'price'){ %>
  <script src="https://unpkg.com/scroll-hint@1.1.10/js/scroll-hint.js"></script>
  <script src="js/scroll-hint_option.js"></script>
  <% } %>
  <script src="js/common.js"></script>
</head>

<body>
  <div id="wrapper" class="wrapper <%= path %>">

    <!-- ヘッダー -->
    <header class="header" id="header">
      <div class="header-inner">
        <h1 class="pagettl"><%= jsonData.pages[path].title %>｜<%= jsonData.siteInfo.baseH1 %></h1>
        <div class="header-common show up-hide@tb">
          <div class="header-logo">
            <a href="index.html">
              <img src="images/logo_dummy.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </header>