<!DOCTYPE html>
<html lang="ja">
<% let title = jsonData.pages[path].title %>
<% let description = jsonData.pages[path].description %>
<% let keywords = jsonData.pages[path].keywords %>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title><%= title %>｜<%= jsonData.siteInfo.baseTitle %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <% if(path === 'other'){ %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <% } %>
  <link rel="stylesheet" href="css/base.min.css">
  <% if( path === 'component' || path === 'component3'| path === 'component4' ){ %>
  <link rel="stylesheet" href="css/components.css">
  <% } %>
  <% if( path === 'form' ){ %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
  <% } %>
  <% if(path === 'component4'){ %>
  <link rel="stylesheet" href="https://unpkg.com/scroll-hint@1.1.10/css/scroll-hint.css">
  <% } %>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <% if(path === 'other'){ %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="js/slick_option.js"></script>
  <% } %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <% if( path === 'form' ){ %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
  <script src="js/datepick_option.js"></script>
  <script src="js/jquery.zip2addr.js"></script>
  <% } %>
  <% if(path === 'component' || path === 'component3'| path === 'component4'){ %>
  <script src="js/components.js"></script>
  <% } %>
  <% if(path === 'component4'){ %>
  <script src="https://unpkg.com/scroll-hint@1.1.10/js/scroll-hint.js"></script>
  <script src="js/scroll-hint_option.js"></script>
  <% } %>
  <script src="js/common.js"></script>
</head>

<body>
  <div id="wrapper" class="wrapper <%= path %>">

    <!-- ヘッダー -->
    <header class="header" id="header">
      <h1 class="pagettl inner1200"><%= jsonData.pages[path].title %>｜<%= jsonData.siteInfo.baseH1 %></h1>
      <div class="header-top up-py-30 up-py-20@tb">
        <div class="inner1200">
          <div class="up-col-3 up-col-1@tb up-ai-c">
            <div>
              <div class="header-left up-hide@tb show">
                <div class="up-w-fit">
                  <div class="icon up-py-10 up-fz-36 up-fz-32@tb up-fz-26@sp up-ta-c">
                    <a href=""><i class="fab fa-instagram"></i></a>
                  </div>
                  <div class="header-web">
                    <a href="" target="_blank" rel="noopener noreferrer">
                      web予約はこちら
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="header-logo">
                <a href="index.html">
                  <img src="images/logo_dummy.png" alt="">
                </a>
              </div>
            </div>
            <div>
              <div class="header-right up-hide@tb show">
                <div class="header-address">
                  住所が入ります
                </div>
                <div class="header-schedule">
                  OPEN : 00:00~00:00<br>
                  CLOSED : Mon
                </div>
                <div class="header-tel tel">
                  000-000-0000
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav id="gnav" class="gnav">
        <p class="toggle"><span class="n accordion-toggle"></span></p>
        <div class="gnavinn">
          <ul class="inner1200 glist">
            <li class='g-item'><a href='index.html'>Home</a></li>
            <li class='g-item'><a href='concept.html'>Concept</a></li>
            <li class='g-item'><a href='salon_info.html'>Salon Info</a></li>
            <li class='g-item'><a href='menu.html'>Menu</a></li>
            <li class="g-item pullbox">
              <dl>
                <dt>Special</dt>
                <dd class="pull">
                  <ul class="pulllist">
                    <li><a href='special.html'>Special Care</a></li>
                    <li><a href='special.html'>Special Hair aesthetic</a></li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li class='g-item'><a href='coupon.html'>Coupon</a></li>
            <li class='g-item'><a href='staff.html'>Staff</a></li>
            <li class='g-item up-hide up-show@tb show@tb'><a href='catalog.html'>Hair Catalog</a></li>
            <li class='g-item'><a href='product.html'>Product</a></li>
            <li class='g-item'><a href='voice.html'>Voice</a></li>
            <li class='g-item'><a href='recruit.html'>Recruit</a></li>
            <li class='g-item up-hide up-show@tb show@tb'><a href='faq.html'>Q&A</a></li>
            <li class='g-item up-hide up-show@tb show@tb'><a href='blog.html'>Blog</a></li>
            <li class='g-item up-hide up-show@tb show@tb'><a href='news.html'>News</a></li>
            <li class='g-item up-hide up-show@tb show@tb'><a href='contact.html'>Contact</a></li>
          </ul>
          <div class="gnav-schedule up-hide up-show@tb show@tb up-mt-30">
            <ul class="up-ta-c up-mb-20 up-lh-2">
              <li class="up-fz-12">OPEN : 平日9:30～19:30 <span class="inb">土・日・祝：9:00～18:30</span>
              </li>
              <li class="up-fz-12">CLOSED : Mon・3rd Sun </li>
            </ul>
            <div class="btn-cmn02 up-mx-auto __brown __small tel">
              000-000-0000
            </div>
          </div>
        </div>
      </nav>
    </header>