<% let path = 'blog'; %>
<%- include('./_header', {path: path}) %>

<div class="under-main-visual">
  <div class="pic up-ofi-35">
    <img src="images/dummy.png" alt="">
  </div>
  <div class="tbox">
    <div class="ttl"><%= jsonData.pages[path].title %></div>
  </div>
</div>

<%- include('./_nav') %>
<div class="bread-box bgc01">
  <div class="inner fead-up">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><%= jsonData.pages[path].title %></li>
    </ul>
  </div>
</div>

<!-- メインコンテンツ -->
<main class="main" id="main">
  <section class="blog01box area">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-fxd-rowr">
        <div class="up-w-65% up-w-100%@tb">
          <ul class="blog-list up-col-2 up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-rgap-40 up-adb">
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic">
                  <span class="up-ofi-100">
                    <img src="images/dummy.png" alt="">
                  </span>
                </div>
                <div class="date-category up-mt-10">
                  <div class="date">0000/00/00</div>
                  <div class="cat">院長ブログ</div>
                </div>
                <div class="ttl alt color03 up-fw-bold up-mt-10 up-fz-20 up-fz-16@sp">
                  ホームページを公開しました
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic">
                  <span class="up-ofi-100">
                    <img src="images/dummy.png" alt="">
                  </span>
                </div>
                <div class="date-category up-mt-10">
                  <div class="date">0000/00/00</div>
                  <div class="cat">院長ブログ</div>
                </div>
                <div class="ttl alt color03 up-fw-bold up-mt-10 up-fz-20 up-fz-16@sp">
                  ホームページを公開しました
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic">
                  <span class="up-ofi-100">
                    <img src="images/dummy.png" alt="">
                  </span>
                </div>
                <div class="date-category up-mt-10">
                  <div class="date">0000/00/00</div>
                  <div class="cat">院長ブログ</div>
                </div>
                <div class="ttl alt color03 up-fw-bold up-mt-10 up-fz-20 up-fz-16@sp">
                  ホームページを公開しました
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic">
                  <span class="up-ofi-100">
                    <img src="images/dummy.png" alt="">
                  </span>
                </div>
                <div class="date-category up-mt-10">
                  <div class="date">0000/00/00</div>
                  <div class="cat">院長ブログ</div>
                </div>
                <div class="ttl alt color03 up-fw-bold up-mt-10 up-fz-20 up-fz-16@sp">
                  ホームページを公開しました
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic">
                  <span class="up-ofi-100">
                    <img src="images/dummy.png" alt="">
                  </span>
                </div>
                <div class="date-category up-mt-10">
                  <div class="date">0000/00/00</div>
                  <div class="cat">院長ブログ</div>
                </div>
                <div class="ttl alt color03 up-fw-bold up-mt-10 up-fz-20 up-fz-16@sp">
                  ホームページを公開しました
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic">
                  <span class="up-ofi-100">
                    <img src="images/dummy.png" alt="">
                  </span>
                </div>
                <div class="date-category up-mt-10">
                  <div class="date">0000/00/00</div>
                  <div class="cat">院長ブログ</div>
                </div>
                <div class="ttl alt color03 up-fw-bold up-mt-10 up-fz-20 up-fz-16@sp">
                  ホームページを公開しました
                </div>
              </a>
            </li>
          </ul>
          <div class="pagenation up-my-100 up-my-70@sp">
            <ul class="up-d-flex up-ai-c up-jc-c@sp">
              <li class="arrow prev">
                <a href="blog.html">＜</a>
              </li>
              <li class="current"><span>1</span></li>
              <li><a href="blog.html">2</a></li>
              <li><a href="blog.html">3</a></li>
              <li><a href="blog.html">4</a></li>
              <li><a href="blog.html">5</a></li>
              <li class="arrow next">
                <a href="blog.html">＞</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="up-w-25% up-w-100%@tb">
          <div class="up-col-2@tb up-gapx-30@tb up-gapx-10@sp up-col-1@sp up-gapy-60 up-gapy-40@tb">
            <div>
              <div class="category-box">
                <div class="heading">カテゴリー</div>
                <ul>
                  <li><a href="blog.html">カテゴリー</a></li>
                  <li><a href="blog.html">カテゴリー</a></li>
                  <li><a href="blog.html">カテゴリー</a></li>
                  <li><a href="blog.html">カテゴリー</a></li>
                </ul>
              </div>
            </div>
            <div>
              <div class="category-box">
                <div class="heading">アーカイブ</div>
                <ul>
                  <li><a href="blog.html">0000/00</a></li>
                  <li><a href="blog.html">0000/00</a></li>
                  <li><a href="blog.html">0000/00</a></li>
                  <li><a href="blog.html">0000/00</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>