<% let path = 'nayami'; %>
<%- include('./_header', {path: path}) %>

<div class="under-main-visual">
  <div class="pic up-ofi-35">
    <img src="images/dummy.png" alt="">
  </div>
  <div class="tbox">
    <div class="ttl"><%= jsonData.pages[path].title %></div>
  </div>
</div>

<%- include('./_nav') %>
<div class="bread-box bgc01">
  <div class="inner fead-up">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><%= jsonData.pages[path].title %></li>
    </ul>
  </div>
</div>

<!-- メインコンテンツ -->
<main class="main" id="main">
  <section class="nayami01box area">
    <div class="inner fead-up bgi02">
      <h2 class="heading up-ta-c up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp up-pos-rel up-mt-50">
        見出しが入ります
        <br>
        見出しが入ります見出しが入ります
        <br>
        見出しが入ります
      </h2>
    </div>
  </section>
  <section class="nayami02box area-small">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-30% up-w-100%@tb">
          <div class="icon03 up-mx-auto">
            <img src="images/trouble_dirt.png" alt="">
          </div>
          <div class="text up-w-fit up-mx-auto up-fz-18 up-fw-bold up-mt-40 up-mt-30@tb up-mt-20@sp wave02 up-mb-30">
            悩みが入ります悩みが入ります
          </div>
        </div>
        <div class="up-w-65% up-w-100%@tb up-d-flex up-fxw-wrap up-jc-sb up-mt-40@tb up-mt-30@sp">
          <div class="up-w-48% up-w-100%@sp">
            <div class="fukidashi01 up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
          <div class="up-w-48% up-w-100%@sp up-mt-30@sp">
            <div class="fukidashi01 up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="nayami02box area-small bgc01">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-30% up-w-100%@tb">
          <div class="icon03 up-mx-auto">
            <img src="images/trouble_lost.png" alt="">
          </div>
          <div class="text up-w-fit up-mx-auto up-fz-18 up-fw-bold up-mt-40 up-mt-30@tb up-mt-20@sp wave02 up-mb-30">
            悩みが入ります悩みが入ります
          </div>
        </div>
        <div class="up-w-65% up-w-100%@tb up-d-flex up-fxw-wrap up-jc-sb up-mt-40@tb up-mt-30@sp">
          <div class="up-w-48% up-w-100%@sp">
            <div class="fukidashi01 __white up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
          <div class="up-w-48% up-w-100%@sp up-mt-30@sp">
            <div class="fukidashi01 __white up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="nayami02box area-small">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-30% up-w-100%@tb">
          <div class="icon03 up-mx-auto">
            <img src="images/trouble_silver.png" alt="">
          </div>
          <div class="text up-w-fit up-mx-auto up-fz-18 up-fw-bold up-mt-40 up-mt-30@tb up-mt-20@sp wave02 up-mb-30">
            悩みが入ります悩みが入ります
          </div>
        </div>
        <div class="up-w-65% up-w-100%@tb up-d-flex up-fxw-wrap up-jc-sb up-mt-40@tb up-mt-30@sp">
          <div class="up-w-48% up-w-100%@sp">
            <div class="fukidashi01 up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
          <div class="up-w-48% up-w-100%@sp up-mt-30@sp">
            <div class="fukidashi01 up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="nayami02box area-small bgc01">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-30% up-w-100%@tb">
          <div class="icon03 up-mx-auto">
            <img src="images/trouble_cleaning.png" alt="">
          </div>
          <div class="text up-w-fit up-mx-auto up-fz-18 up-fw-bold up-mt-40 up-mt-30@tb up-mt-20@sp wave02 up-mb-30">
            悩みが入ります悩みが入ります
          </div>
        </div>
        <div class="up-w-65% up-w-100%@tb up-mt-40@tb up-mt-30@sp">
          <div class="border05 up-bgc-white up-px-20 up-py-50 up-py-40@tb up-py-30@sp">
            <div class="up-d-flex up-jc-sb up-ai-c up-w-fit up-mx-auto up-fw-bold up-fz-18 up-mb-30 up-mb-20@sp">
              <img src="images/tooth_icon.png" alt="" class="tooth-icon">
              <span class="up-ta-c up-mx-10">タイトルが入りますタイトルが入ります</span>
              <img src="images/tooth_icon.png" alt="" class="tooth-icon">
            </div>
            <div class="text up-ta-c up-ta-l@sp">
              テキストが入ります。テキストが入ります。テキストが入ります。<br>
              テキストが入ります。テキストが入ります。
            </div>
            <div class="btn-cmn04 up-mx-auto up-mt-30 up-mt-20@sp">
              <a href="">PTMC</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="nayami02box area-small">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-30% up-w-100%@tb">
          <div class="icon03 up-mx-auto">
            <img src="images/trouble_discomfort.png" alt="">
          </div>
          <div class="text up-w-fit up-mx-auto up-fz-18 up-fw-bold up-mt-40 up-mt-30@tb up-mt-20@sp wave02 up-mb-30">
            悩みが入ります悩みが入ります
          </div>
        </div>
        <div class="up-w-65% up-w-100%@tb up-d-flex up-fxw-wrap up-jc-sb up-mt-40@tb up-mt-30@sp">
          <div class="up-w-48% up-w-100%@sp">
            <div class="fukidashi01 up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
          <div class="up-w-48% up-w-100%@sp up-mt-30@sp">
            <div class="fukidashi01 up-ta-c up-fw-bold up-mx-auto">
              <span>テキストが入ります。<br>テキストが入ります。</span>
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp up-my-30 up-my-20@sp">
              <ruby>オ<rt>・</rt>フ<rt>・</rt>ィ<rt>・</rt>ス<rt>・</rt></ruby>ホワイトニングがおすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto">
              <a href="">オフィスホワイトニング</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="nayami02box area-small bgc01">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-30% up-w-100%@tb">
          <div class="icon03 up-mx-auto">
            <img src="images/trouble_whitening.png" alt="">
          </div>
          <div class="text up-w-fit up-mx-auto up-fz-18 up-fw-bold up-mt-40 up-mt-30@tb up-mt-20@sp wave02 up-mb-30">
            悩みが入ります悩みが入ります
          </div>
        </div>
        <div class="up-w-65% up-w-100%@tb up-mt-40@tb up-mt-30@sp">
          <div class="border05 up-bgc-white up-px-20 up-py-50 up-py-40@tb up-py-30@sp">
            <div class="up-d-flex up-jc-sb up-ai-c up-w-fit up-mx-auto up-fw-bold up-fz-18 up-mb-30 up-mb-20@sp">
              <img src="images/tooth_icon.png" alt="" class="tooth-icon">
              <span class="up-ta-c up-mx-10">タイトルが入りますタイトルが入ります</span>
              <img src="images/tooth_icon.png" alt="" class="tooth-icon">
            </div>
            <div class="osusume01 up-fw-bold up-ta-c up-fz-18 up-fz-16@sp">
              〇〇が<br>おすすめ！
            </div>
            <div class="btn-cmn04 up-mx-auto up-mt-30 up-mt-20@sp">
              <a href="">PTMC</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>