<% let path = 'price'; %>
<%- include('./_header', {path: path}) %>

<div class="under-main-visual">
  <div class="pic up-ofi-35">
    <img src="images/dummy.png" alt="">
  </div>
  <div class="tbox">
    <div class="ttl"><%= jsonData.pages[path].title %></div>
  </div>
</div>

<%- include('./_nav') %>
<div class="bread-box bgc01">
  <div class="inner fead-up">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><%= jsonData.pages[path].title %></li>
    </ul>
  </div>
</div>

<!-- メインコンテンツ -->
<main class="main" id="main">
  <section class="price01box area">
    <div class="inner fead-up">
      <div class="tooth-icon01 up-mx-auto">
        <img src="images/trouble_whitening.png" alt="">
      </div>
      <div class="text up-ta-c up-mt-40 up-mt-30@tb up-mt-20@sp">
        テキストが入ります。テキストが入ります。<br>
        テキストが入ります。
      </div>
      <div class="up-d-flex up-fxd-col up-rgap-50 up-mt-60 up-mt-50@tb up-mt-30@sp">
        <div class="box">
          <div class="up-d-flex up-ai-c up-mb-10">
            <h3 class="ttl up-fz-20 up-fw-bold up-mr-10">タイトルが入ります</h3>
            <div class="link color03"><a href="">《詳しくはこちら》</a></div>
          </div>
          <div class="table01 scrollable">
            <table>
              <thead>
                <tr>
                  <th>項目</th>
                  <th>価格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box">
          <div class="up-d-flex up-ai-c up-mb-10">
            <h3 class="ttl up-fz-20 up-fw-bold up-mr-10">タイトルが入ります</h3>
            <div class="link color03"><a href="">《詳しくはこちら》</a></div>
          </div>
          <div class="table01 scrollable">
            <table>
              <thead>
                <tr>
                  <th>項目</th>
                  <th>価格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box">
          <div class="up-d-flex up-ai-c up-mb-10">
            <h3 class="ttl up-fz-20 up-fw-bold up-mr-10">タイトルが入ります</h3>
            <div class="link color03"><a href="">《詳しくはこちら》</a></div>
          </div>
          <div class="table01 scrollable">
            <table>
              <thead>
                <tr>
                  <th>項目</th>
                  <th>価格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
                <tr>
                  <td>項目が入ります</td>
                  <td>0,000円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>