<% let path = 'recruit'; %>
<%- include('./_header', {path: path}) %>

<div class="under-main-visual">
  <div class="pic up-ofi-35">
    <img src="images/dummy.png" alt="">
  </div>
  <div class="tbox">
    <div class="ttl"><%= jsonData.pages[path].title %></div>
  </div>
</div>

<%- include('./_nav') %>
<div class="bread-box bgc01">
  <div class="inner fead-up">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><%= jsonData.pages[path].title %></li>
    </ul>
  </div>
</div>

<!-- メインコンテンツ -->
<main class="main" id="main">
  <section class="recruit01box area">
    <div class="inner fead-up">
      <div class="tooth up-ta-c up-mb-50 up-mb-40@tb up-mb-30@sp">
        <img src="images/tooth_icon.png" alt="" class="tooth-icon">
      </div>
      <h2 class="up-ta-c up-fw-bold up-fz-28 up-fz-24@sp border03 up-mb-60 up-mb-50@tb up-mb-30@sp">見出しが入ります</h2>
      <div class="txt up-ta-c up-ta-l@sp"> テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br> テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br> テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br> テキストが入ります。テキストが入ります。テキストが入ります。 </div>
    </div>
  </section>
  <section class="rec02box area bgc01">
    <div class="inner fead-up">
      <h2 class="heading up-fz-38 up-fz-30@tb up-fz-24@sp up-mx-auto up-fw-bold up-w-fit up-mb-50 up-mb-40@tb up-mb-30@sp"> 当院で働く<span class="color03 up-fz-130%">3</span>つのメリット </h2>
      <ul class="up-col-3 up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-rgap-40@sp up-col-2@sp up-adb up-jc-c">
        <li>
          <div class="box">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh="" style="height: 36px;"> タイトルが入ります </div>
            <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh="" style="height: 36px;"> タイトルが入ります </div>
            <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh="" style="height: 36px;"> タイトルが入ります </div>
            <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="rec03box area">
    <div class="inner fead-up">
      <h2 class="heading up-ta-c up-fz-24 up-fz-22@sp up-fw-bold up-mb-70 up-mb-60@tb up-mb-40@sp">募集要項</h2>
      <div class="recruit01 up-maxw-800 up-mx-auto">
        <dl>
          <dt>職種</dt>
          <dd>準備中</dd>
        </dl>
        <dl>
          <dt>雇用形態</dt>
          <dd>準備中</dd>
        </dl>
        <dl>
          <dt>仕事内容</dt>
          <dd>準備中</dd>
        </dl>
        <dl>
          <dt>勤務地</dt>
          <dd>準備中</dd>
        </dl>
        <dl>
          <dt>休日</dt>
          <dd>準備中</dd>
        </dl>
        <dl>
          <dt>給与</dt>
          <dd>準備中</dd>
        </dl>
        <dl>
          <dt>応募資格</dt>
          <dd>準備中</dd>
        </dl>
      </div>
      <div class="btn-cmn02 up-mx-auto up-mt-60 up-mt-50@tb up-mt-30@sp">
        <a href="contact.html">応募する</a>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>